@import "../../../../theme/common/base.scss";
body {
    position: $relative;
}
.driver-drawer-menu {
    position: $relative;
    top:100px;
    left:0;
    height: 100%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;     
    z-index: 11;
    .MuiPaper-root {
      z-index: 11;
      background: $black-color1;
      padding: 135px 0 50px;
      box-shadow: 0 0 10px $grey-color9;
      @media (max-width:767px){   
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        padding-top: 120px;
      }
    } 
    .MuiPaper-root::-webkit-scrollbar {
      width: 8px;
    }
   .MuiPaper-root::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    } 
    .MuiPaper-root::-webkit-scrollbar-thumb {
      background-color: #F2F2F2 ;
      outline: 1px solid slategrey;
    }
} 
.driver-drawer-menu + .app-main_outer{     
  @media (max-width:1024px){
    padding-left: 300px;
  }
  @media (max-width:767px){
     padding-left: 10px;
   }
}