@import '../../../../../../../theme/common/base.scss';

.profile_info {
    label {
        font-weight: 600;
        min-width: auto;
        line-height: normal;
    }
    .group-btn{
        display: flex;
        align-items: center;
    }
    .form-group {
        .MuiInputLabel-formControl {
            transform: translate(20px, 12px) scale(1);
            -webkit-transform: translate(20px, 12px) scale(1);
        }
        .MuiInputLabel-shrink {
            transform: translate(20px, -9px) scale(0.899);
            -webkit-transform: translate(20px, -9px) scale(0.899);
        }
        .MuiInputBase-input:disabled{
            background: rgba(0, 0, 0, 0.0509);
        }
    }
}
.rated {
    i {
        color:$gold-color;
    }
}
.profile_shw{
    label {
        min-width: 110px;
        line-height: 2;
    }
}