.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
  }
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
  label, textarea {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  textarea {
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
  }
  
  textarea:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
  label {
    letter-spacing: 0.05em;
    
  }
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  textarea:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1);
  }
  /**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */
  ::-webkit-textarea-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  textarea:focus::-webkit-textarea-placeholder {
    opacity: 1;
    display: none;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */
//   input:not(:placeholder-shown) + label,
textarea + label {
  display: none!important;
  transform: translate(0, 0px) scale(1)!important;
}
textarea:focus + label {  
  display: block!important;  
} 
textarea:visited + label {  
  display: block!important;  
}